/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/ClientSide/css.css to edit this template
*/
/* 
    Created on : Oct 16, 2024, 5:42:57 PM
    Author     : Tyler
*/

/* CSS Base will be used as the default CSS for the calculator home page. */
body {
    text-align: center;
}

ul, ol {
    list-style: none;
    padding: 0;
}

h1 {
    letter-spacing: 1px;
    transition: letter-spacing 0.5s ease;
}

h1:hover {
    letter-spacing: 5px;
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 50px;
    background-color: #dddddd;
    text-align: center;
    line-height: 25px;
}

footer li {
    display: inline;
    margin-right: 10px;
}